.about {
  overflow-y: visible;
}

.about__wrapper {
  position: relative;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 111px;
  max-width: $max-desktop-width-main;
  margin-left: auto;
  margin-right: auto;
}

.about__header {
  margin-top: 0;
  margin-bottom: 22px;
  font-family: $roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about__wrapper p {
  margin-top: 0;
  margin-bottom: 20px;
}

.about__details {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;

  color: $blue-color;
  border-color: $blue-color;

  &:hover {
    color: $white-color;
    background-color: $blue-color;
  }
}

.about__triangle {
  bottom: 71px;
  left: -450px;
  transform: rotate(-30deg);
  opacity: 0.3;
}

@media (min-width: 1024px) {
  .about__wrapper {
    padding-left: 220px;

    background-image: url("../img/2005.png");
    background-repeat: no-repeat;
    background-position: 5px 44px;
  }
}

@media (max-width: 1023px) {
  .about__wrapper {
    padding-top: 0;
    padding-bottom: 85px;
  }

  .about__header {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 140.62%;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .about__wrapper {
    padding-left: 212px;

    background-image: url("../img/2005-750.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (max-width: 767px) {
  .about__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 67px;
  }

  .about__header {
    margin-bottom: 21px;

    font-size: 28px;
    line-height: 140.62%;
  }

  .about__wrapper p {
    margin-bottom: 39px;
  }

  .about__wrapper p:last-child {
    margin-bottom: 20px;
  }

  .about__details {
    margin-top: 8px;
  }
}
