.advantages__wrapper {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 95px;
  padding-bottom: 50px;
  max-width: $max-desktop-width-main;
  margin-left: auto;
  margin-right: auto;
}

.advantages__items {
  @include not-list;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: calc(50% - 30px);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 63px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  background-color: $white-color;
  border: 1px solid $gray-color;
  border-left: 3px solid $blue-color;
}

.advantages__item:hover,
.advantages__item:focus {
  color: $white-color;
  background-color: $blue-color;

  .advantages__header {
    color: $white-color;
  }

  .advantages__icon {
    color: $white-color;
  }
}

.advantages__item:last-child {
  padding-bottom: 85px;
}

.advantages__header {
  margin-top: 0;
  margin-bottom: 17px;

  font-family: $roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  color: $blue-color;
}

.advantages__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 13px;

  color: $blue-color;
  fill: $blue-color;
}

.advantages__text {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__triangle--large {
  top: 50%;
  left: 26%;
  z-index: -1;
  opacity: 0.3;
  transform: rotate(30deg);
}

.advantages__triangle--first {
  bottom: 71px;
  right: -190px;
  z-index: -1;
  opacity: 0.3;
  transform: rotate(60deg);
}

.advantages__triangle--second {
  left: -190px;
  z-index: -1;
  opacity: 0.3;
  transform: rotate(-60deg);
}
