.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__link {
  font-size: 16px;
  line-height: 18px;
  color: $white-color;
  text-decoration: none;
  text-align: right;
  transition: $transition-color;

  &:hover,
  &focus {
    color: $blue-color;

    .contacts__icon {
      color: $white-color;
    }
  }
}

.contacts__link--order {
  margin-right: 4px;

  font-size: 14px;
  line-height: 16px;
}

.contacts__icon {
  color: $blue-color;
}

.contacts__link--phone {
  margin-right: 50px;
}

.contacts__link--phone svg {
  margin-right: 5px;
}

.contacts__link--mail {
  margin-right: 88px;
}

.contacts__link--mail svg {
  margin-right: 10px;
}

@media (max-width: 1023px) {
  .contacts__link--order {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .contacts__icon {
    width: 26px;
    height: 26px;
  }

  .contacts__link {
    width: 26px;
    height: 30px;
    overflow: hidden;
  }

  .contacts__link--phone {
    margin-right: 0px;
  }

  .contacts__link--mail {
    margin-right: 30px;
  }

  .contacts__link--mail svg,
  .contacts__link--phone svg {
    margin-right: 0;
  }

  .header__menu-toggler {
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
  .contacts {
    margin-top: -4px;
  }

  .contacts__link--mail {
    margin-right: 21px;
  }

  .header__menu-toggler {
    margin-right: 35px;
  }
}
