.feedback {
  background-color: $blue-color;
  overflow: hidden;
}

.feedback__wrapper {
  position: relative;

  display:flex;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 91px;
  padding-bottom: 75px;
  max-width: $max-desktop-width-main;
  margin-left: auto;
  margin-right: auto;

  color: $white-color;
}

@media (min-width: 1024px) {
  .feedback__wrapper::before {
    content: "";
    z-index: 1;
    width: 50%;
    margin-left: -6px;

    background-image: url("../img/paper_airplane.png");
    background-repeat: no-repeat;
    background-position: 0 34%;
  }

  .feedback__form-wrapper {
    width: 50%;
  }
}

.feedback__form-wrapper {
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
}

.feedback__header {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: $roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  color: $white-color;
}

.feedback__remark {
  margin-top: 0;
  margin-bottom: 50px;
  color: $white-color;
}

.feedback__triangle--large {
  left: -100px;
  top: 95px;
  width: 585px;
  height: 490px;
}

.feedback__triangle--small {
  top: 296px;
  left: -138px;
  width: 326px;
  height: 286px;
}

.feedback__triangle--first {
  top: 71px;
  right: -288px;
  width: 200px;
  height: 200px;
  opacity: 0.1;
  transform: rotate(-60deg)
}

.feedback__triangle--second {
  top: 286px;
  right: -441px;
  width: 328px;
  height: 328px;
  opacity: 0.1;
}

@media (max-width: 1023px) {
  .feedback__wrapper {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
  }

  .feedback__header {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 140.62%;
  }

  .form__textarea {
     padding-bottom: 35px;
   }

   .form__label--textarea {
     margin-bottom: 47px;
   }

  .feedback__triangle--large,
  .feedback__triangle--small {
    display: none;
  }
}
