.feedback {
  background-color: $blue-color;
  background-image: url("../img/paper_airplane.png"), url("../img/trianglepoints.svg"), url("../img/trianglepoints-sm.svg"), url("../img/triangle-right.svg"), url("../img/triangle-left.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 25% 42%, 18% 51%, 12% 76%, 99% 10%, 100% 108%;
  background-size: auto, 560px, 329px, 265px, 345px;
}

.feedback__wrapper {
  position: relative;

  display: flex;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 91px;
  padding-bottom: 115px;
  max-width: $max-desktop-width-main;
  margin-left: auto;
  margin-right: auto;

  color: $white-color;
}

.feedback__form-wrapper {
  margin-left: auto;
  width: calc(50% - 15px);
}

.feedback__header {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: $roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  color: $white-color;
}

.feedback__remark {
  margin-top: 0;
  margin-bottom: 50px;
  color: $white-color;
}

@media (max-width: 1023px) {
  .feedback {
    background-image: none
  }

  .feedback__wrapper {
    padding-left: 90px;
    padding-right: 88px;
    padding-top: 80px;
    padding-bottom: 103px;
  }

  .feedback__form-wrapper {
    width: 100%;
  }

  .feedback__header {
    margin-bottom: 17px;
    font-size: 32px;
    line-height: 140.62%;
  }

  .feedback__remark {
    padding-left: 2px;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .feedback__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 43px;
  }

  .feedback__header {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 140.62%;
  }

  .feedback__remark {
    margin-bottom: 24px;
  }
}
