.footer-menu__items {
  @include not-list;
  column-count: 2;
  transition: height 2s ease-in-out;
}

.footer-menu__link {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: $footer-text-color;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

@media (min-width: 1024px) {
  .footer-menu__header {
    padding-left: 70px;
  }

  .footer-menu__items {
    padding-top: 6px;
    padding-bottom: 0;
  }

  .footer-menu__item {
    padding-left: 70px;
  }
}

@media (max-width: 1023px) {
  .footer-menu__items {
    columns: 1;
  }
}

@media (max-width: 767px) {
  .footer-menu__items {
    padding-top: 6px;
  }

  .footer-menu__item:last-child {
    padding-bottom: 27px;
  }
}
