.footer-menu__items {
  @include not-list;
  columns: 2 auto;
  transition: height 2s ease-in-out;
}

.footer-menu__link {
  margin-right: 60px;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: $footer-text-color;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

@media (max-width: 1400px) {
  .footer-menu__link {
    margin-right: 5px;
  }
}

@media (max-width: 1200px) {
  .footer-menu__items {
    columns: 170px auto;
  }
}

@media (max-width: 1023px) {
  .footer-menu__items {
    columns: 1;
  }
}
