.footer-menu__items {
  @include not-list;
  column-count: 2;
}

.footer-menu__item {

}

.footer-menu__link {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: $footer-text-color;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}


@media (max-width: 1023px) {
  .footer-menu__items {
    columns: 1;
  }
}
