.footer-adress__header {
  padding-left: 20px;
}

.footer-adress__body {
  padding-left: 20px;

  font-size: 15px;
  line-height: 25px;
}

.footer-adress__phone {
  display: block;
  padding-left: 16px;

  text-decoration: none;
  color: $footer-text-color;
}
