.footer-adress__header {
}

.footer-adress__body {
  max-height: 0;
  font-size: 15px;
  line-height: 25px;

  color: $footer-text-color;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.footer-adress__phone {
  display: block;

  text-decoration: none;
  color: $footer-text-color;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}
