.footer-adress__body {
  display: block;

  font-size: 15px;
  line-height: 25px;

  color: $footer-text-color;
  transition: height 2s ease-in-out;
}

.footer-adress__phone {
  display: block;

  text-decoration: none;
  color: $footer-text-color;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

@media (max-width: 767px) {
  .footer-adress__body {
    padding-top: 6px;
  }

  .footer-adress__phone:last-child {
    padding-bottom: 27px;
  }
}
