.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;

  background: transparent;
}

.header__wrapper {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: $max-desktop-width;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__logo {
  padding-top: 4px;
  margin-right: 112px;
}
