.header {
  background: url("../img/maskgroup.png");
  background-color: #1b2a31;
  background-size: cover;

  color: $white-color;
  overflow: hidden;
}

.header__wrapper {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: $max-desktop-width;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__logo {
  padding-top: 4px;
  min-width: 22%;
}

.header__logo img {
  width: 202px;
}

.header__menu-toggler {
  margin-right: auto;
}

@media (max-width: 1023px) {
  .header__menu-toggler {
    margin-right: 14px;
  }

  .header__wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header__logo {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header__logo {
    padding-top: 0;
  }

  .header__logo img {
    width: 41px;
  }
}
