.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  display: flex;

  background: transparent;
}

.header__wrapper {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: $max-desktop-width;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header__logo {
  padding-top: 4px;
  margin-right: 112px;
}

.header__menu-toggler {
  margin-right: auto;
}

@media (max-width: 1200px) {
  .header__logo  {
    margin-right: auto;
  }
}

@media (max-width: 1023px) {
  .header__menu-toggler {
    margin-right: 14px;
  }

  .header__wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
