.main-screen {
  background: url("../img/maskgroup.png");
  background-color: #1b2a31;
  background-size: cover;
}

.main-screen__wrapper {
  position: relative;
  max-width: 1465px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 315px;
  padding-bottom: 90px;

  margin-left: auto;
  margin-right: auto;

}

.main-screen__text-wrapper {
  max-width: 51%;
  margin-right: auto;
}

.main-screen__header {
  margin-top: 0;
  margin-bottom: 28px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: $white-color;
}

.main-screen__text {
  position: relative;
  padding-left: 100px;
  margin-top: 0;
  margin-bottom: 44px;

  font-size: 22px;
  line-height: 34px;
  letter-spacing: -1px;

  color: $white-color;
}

.main-screen__text::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 68px;
  height: 3px;

  margin-left: 5px;
  margin-right: 28px;

  background: $white-color;
}

.main-screen__readmore {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 95px;

  font-size: 16px;
  line-height: 19px;

  background-color: $blue-color;
  border-color: $blue-color;
}

.main-screen__image {
  position: absolute;
  top: 29%;
  right: -4%;
}

.main-screen__remark {
  margin-left: 5px;

  font-size: 14px;
  line-height: 16px;
  writing-mode: vertical-lr;
  color: $white-color;

  transform: rotate(180deg);
}
