.main-screen {
  background-image: url("../img/cards.png"), url("../img/trianglepoints.svg"), url("../img/trianglepoints-SM.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-clip: border-box, border-box, border-box;
  background-position: right 14% bottom 43%, right 19% bottom 44%, right 34% bottom 25%;
  background-size: 37%, 29%, 17%;
}

.main-screen__wrapper {
  position: relative;
  display: flex;
  max-width: $max-desktop-width;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 197px;
  padding-bottom: 182px;

  margin-left: auto;
  margin-right: auto;
}


.main-screen__text-wrapper {
  z-index: 2;
  flex-basis: 55%;
  margin-right: auto;
}

.main-screen__header {
  margin-top: 0;
  margin-bottom: 28px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: $white-color;
}

.main-screen__text {
  position: relative;
  padding-left: 96px;
  margin-top: 0;
  margin-bottom: 44px;

  font-size: 22px;
  line-height: 34px;

  color: $white-color;
}

.main-screen__text::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 65px;
  height: 3px;

  margin-left: 5px;
  margin-right: 28px;

  background: $white-color;
}

.main-screen__readmore {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 95px;

  font-size: 16px;
  line-height: 19px;

  background-color: $blue-color;
  border-color: $blue-color;
}

.main-screen__readmore:hover,
.main-screen__readmore:focus {
  color: $blue-color;
}

.main-screen__remark {
  position: absolute;
  bottom: 128px;
  left: -19px;
  display: block;
  margin-left: 5px;

  font-size: 14px;
  line-height: 16px;
  color: $white-color;
  text-decoration: none;

  transform: rotate(270deg);
}

.main-screen__btn--small {
  display: none;
}

@media (max-width: 1450px) {
  .main-screen {
    background-position: right -2% bottom 62%, right 6% bottom 62%, right 30% bottom 43%;
    background-size: 47%, 41%, 27%;
  }
}

@media (max-width: 1023px) {
  .main-screen {
    background-image: url("../img/cards-750.png"), url("../img/trianglepoints.svg"), url("../img/trianglepoints-sm.svg");
    background-position: right -65% bottom 87%, right -50% bottom 98%, right 11% bottom 58%;
    background-size: 60%, 57%, 33%;

    margin-top: -20px;
  }

  .main-screen__wrapper {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 44px;
    padding-bottom: 67px;
  }

  .main-screen__text-wrapper {
    flex-basis: 60%;
    margin-left: 63px;
    margin-top: 66px;
  }

  .main-screen__header {
    font-size: 60px;
    line-height: 70px;
  }

  .main-screen__readmore {
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 53px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.9px;
  }

  .main-screen__text {
    padding-left: 52px;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 29px;

    &::before {
      width: 35px;
    }
  }

  .main-screen__remark {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .main-screen {
    background-image: url("../img/cards-320.png"), url("../img/trianglepoints.svg"), url("../img/trianglepoints-SM.svg");
    background-size: 95%, 134%, 77%;
    background-position: right -34% bottom 91%, right 289% bottom 94%, right -127% bottom 57%;

    margin-top: -20px;
  }

  .main-screen__wrapper {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 315px;
    padding-bottom: 72px;
  }


  .main-screen__text-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-top: -88px;

    margin-left: 0;
  }

  .main-screen__header {
    font-size: 40px;
    line-height: 47px;
  }

  .main-screen__text {
    padding-left: 51px;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 156.8%;
  }

  .main-screen__readmore {
    margin-left: 3px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .main-screen__btn--big {
    display: none;
  }

  .main-screen__btn--small {
    display: block;
  }
}
