.offers {
  background-color: $dark-blue-color;
}

.offers__wrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 87px;
  padding-bottom: 126px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.offers__header {
  margin-top: 0;
  margin-bottom: 51px;

  font-family: $roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white-color;
}

.offers__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  position: relative;
  flex-basis: calc(100%/3 - 20px);
  padding-top: percentage(382/720);

  text-decoration: none;

  background-color: #26343d;
  background-size: cover;
}

.offers__item--production {
  background-image: url("../img/goods-1.jpg");
}

.offers__item--mounting {
  background-image: url("../img/goods-2.jpg");
}

.offers__item--lighting {
  background-image: url("../img/goods-3.jpg");
}

.offers__name {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 43px;
  padding-right: 135px;
  padding-top: 51px;
  padding-bottom: 51px;

  font-family: $roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: $white-color;
  background-color: rgba(72, 72, 72, 0.8);
}

.offers__name:hover {
  color: $blue-color;
}

.offers__name:hover + .offers__name-mark {
  color: $blue-color;
  background-color: $white-color;
  svg {
    color: $blue-color;
  }
}

.offers__name-mark {
  position: absolute;
  bottom: 0;
  right: 0;

  display: block;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $blue-color;
}

.offers__icon {
  width: 8px;
  height: 10px;

  color: $white-color;
}

@media (max-width: 1023px) {
  .offers__wrapper {
    padding-left: 25px;
    padding-right: 24px;
    padding-top: 53px;
    padding-bottom: 33px;
  }

  .offers__header {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 140.62%;
  }

  .offers__items {
    flex-direction: column;
  }

  .offers__items .offers__item {
    margin-bottom: 46px;
  }

  .offers__item {
    flex-basis: 100%;
    flex-grow: 1;
    padding-top: percentage(255/720);
  }

  .offers__item--production {
    background-image: url("../img/goods-1-750.jpg");
  }

  .offers__item--mounting {
    background-image: url("../img/goods-2-750.jpg");
  }

  .offers__item--lighting {
    background-image: url("../img/goods-3-750.jpg");
  }

  @media (min-resolution: 192dpi) {
    .offers__item--production {
      background-image: url("../img/goods-1@2x.jpg");
    }

    .offers__item--mounting {
      background-image: url("../img/goods-2@2x.jpg");
    }

    .offers__item--lighting {
      background-image: url("../img/goods-3@2x.jpg");
    }
  }

  @media (min-resolution: 192dpi) {
    .offers__item--production {
      background-image: url("../img/goods-1-750@2x.jpg");
    }

    .offers__item--mounting {
      background-image: url("../img/goods-2-750@2x.jpg");
    }

    .offers__item--lighting {
      background-image: url("../img/goods-3-750@2x.jpg");
    }
  }

  .offers__name {
    padding-right: 70%;
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .offers__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }

  .offers__header {
    padding-left: 10px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 140.62%;
  }

  .offers__items .offers__item{
    margin-bottom: 30px;
  }

  .offers__item {
    padding-top: percentage(256/290);
  }

  .offers__item--production {
    background-image: url("../img/goods-1-320.jpg");
  }

  .offers__item--mounting {
    background-image: url("../img/goods-2-320.jpg");
  }

  .offers__item--lighting {
    background-image: url("../img/goods-3-320.jpg");
  }

  @media (min-resolution: 192dpi) {
    .offers__item--production {
      background-image: url("../img/goods-1-320@2x.jpg");
    }

    .offers__item--mounting {
      background-image: url("../img/goods-2-320@2x.jpg");
    }

    .offers__item--lighting {
      background-image: url("../img/goods-3-320@2x.jpg");
    }
  }

  .offers__name {
    padding-left: 35px;
    padding-right: 30%;
    padding-top: 20px;
  }
}
