.social__items {
  display: flex;
}

.social__link {
  color: $footer-text-color;
  transition: $transition-color;
  margin-right: 15px;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.social__link:last-child {
  margin-right: 0;
}

@media (max-width: 1023px) {
  .social__items {
    padding-bottom: 0;
  }
}
