.social__items {
  @include not-list;
  display: flex;
  padding-bottom: 12px;
}

.social__item + .social__item {
  margin-left: 15px;
}

.social__link {
  color: $footer-text-color;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

@media (max-width: 1023px) {
  .social__items {
    padding-bottom: 0;
  }
}
