$text-color: #666666;
$white-color: #ffffff;
$blue-color: #01b2ff;
$gray-color: #ebebeb;
$footer-bgcolor: #fafafa;
$dark-blue-color: #1b2d37;
$footer-text-color: #cdcdcd;
$roboto: "Roboto Condensed", "Arial", sans-serif;
$mono: "PT Mono", "Arial", sans-serif;
$transition-color: color 0.4s ease-in-out;
$max-desktop-width: 1465px;
$max-desktop-width-main: 1250px;
